.task-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a171d;
  padding: 5px;
}

.task-item-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}

.task-item-display-text {
  background-color: #f3aa4e;
  color: #323f4b;
  font-family: 'Roboto';
  border-radius: 16px;
  padding: 6px;
  width: 120px;
  font-family: 'Roboto';
  font-weight: 500;
  border-width: 0px;
  text-align: center;
}
