.tag-btn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-right: 20px;
  border-radius: 16px;
  padding: 6px;
  width: 100px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.active-tag-btn {
  background-color: #f3aa4e;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 20px;
  border-radius: 16px;
  padding: 6px;
  width: 100px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.display-text {
  margin: 0px;
}
